<div class="navbar" style="background-color: #1D4F91;">
    <div class="container">
        <a class="navbar-brand justify-content-start" href="#" style="color: white;">ContactsBook</a>
        <ul class="navbar-nav flex-row justify-content-between">
            <li class="nav-item" title="Search">
                <a class="nav-link" href="#"><img src="./assets/icons/MagnifyingGlass.png" alt="" width="30vw"></a>
            </li>
            <li class="nav-item" title="Search">
                <a class="nav-link" href="#"><img src="./assets/icons/PlusCircle.png" alt="" width="30vw"></a>
            </li>
            <li class="nav-item" title="Search">
                <a class="nav-link" href="#"><img src="./assets/icons/CaretCircleDoubleDown.png" alt="" width="30vw"></a>
            </li>
        </ul>
    </div>
</div>
<!--Header. Bootstrap classes used for formatting.-->